#footer{
    position: relative;
    border-bottom: 4px solid $brand-color-cyan;
    padding: 0;
    margin: 0;

    .logo{
        box-shadow: $logo-shadow;
        position: absolute;
        bottom: -4px;
    }
}