.breadcrumb{
    color: $brand-color-cyan;
    list-style: none;
    padding: 0;
    margin-top: 20px;

    a{
        color: $brand-color-cyan;
        text-decoration: none;
    }

    li{
        float: left;
    }

    li + li{

        &::before{
            content: "\0000a0>\0000a0";
        }
    }

    &--padding-top{
        padding-top: 18px;
    }
}