.filter{

    padding-top: 68px;
    padding-bottom: 34px;
    transition: $transition-time-fast;

    &.closed{
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
    }

    h3,a{
        line-height: 20px;
    }

    button{
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;
    }

    a,button{
        font-size: 12px;
        display: inline-block;
        margin-left: 10px;
        color: $brand-color-grey-mid;
        text-decoration: none;
        position: relative;
        float: none;

        &:hover{

            &::before{
                content: "\2612";
                right: -15px;
                font-size: 20px;
                bottom: 10px;
                height: 10px;
                width: 10px;
                position: absolute;
                display:inline-block;
            }

            &::after{
                content: "";
                bottom: -3px;
                height: 2px;
                width: 100%;
                left: 0;
                background: #d4d4d4;
                position: absolute;
                display:inline-block;
            }
        }
    }

    h3{
        font-size: 13px;
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
}



.filter-wrapper{
    border-bottom: 1px solid #b0b0b0;
    width: 100%;
}

.filter__inner-container{
    width: 100%;
    @extend .clearfix;
    margin-top: 37px;
    margin-bottom: 20px;
}

.sort-by{

    float: left;

    &__title{
        font-weight: bold;
        font-size: 15px;
        font-family: Arial;
        line-height: 21px;
        text-transform: uppercase;
        display: inline-block;
    }

    &__list{
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__text + &__text{
        border-left: 1px solid $brand-color-grey-dark;
        color: $brand-color-grey-dark;
        text-transform: lowercase;
    }

    &__text{
        display: inline-block;
        margin: 0;
        padding: 0 6px;
        font-size: 15px;
        cursor: pointer;

        &:hover,
        &.active{
            color: #4d4d4d;
            font-weight: bold;
            position: relative;

            &::after{
                content: "";
                bottom: -10px;
                height: 3px;
                width: calc(100% - 10px) ;
                background: #d4d4d4;
                display: block;
                position: absolute;
            }
        }
    }


}

.advanced-options{
    float: right;
    font-size: 20px;
    color: $brand-color-blue;
    top: -7px;
    position: relative;
    transition: .3s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    i{
        top: 5px;
        margin-left: 20px;
        position: relative;
    }

    &:hover{
        cursor: pointer;
        color: $brand-color-cyan;
    }
}

