.input{
    &--primary,
    &--prefix,
    &--phone{
        background: $brand-color-grey-lighter;
        border: 1px solid $brand-color-stroke-grey-light;
        padding: 16px;
        width: 100%;
        margin-bottom: 40px;
    }

    &--prefix{
        width: 90px;
        margin-right: 7px ;
        float: left;
    }

    &--phone{
        float: left;
        width: calc(100% - 97px);
    }

    &--error{
        background: $error-red-bg;
        border: $error-red-border;
    }
}


.file_upload {
    position: relative;
    overflow: hidden;
    background: $brand-color-grey-light;
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    //line-height: 60px;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    color: white;
    height: 60px;
    transition: $transition-time-fast;

    span{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -50%;
    }

    &:hover{
        background: $brand-color-grey-mid;
    }
}

.file_upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}



label,
.label--primary{
    font-size: 16px;
    margin-bottom: 14px;
    display: block;
    color: $brand-color-blue;
    font-weight: bold;
    clear: both;

    span{
        font-size: 12px;
    }
}

.label--thin{
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 67px;
    display: block;
    color: $brand-color-grey-mid;
    font-weight: 400;
    text-transform: capitalize;

    a{
        color: $brand-color-cyan;
        text-transform: capitalize;

        &:hover{
            color: $brand-color-cyan-hover;
        }
    }
}