.search{
    float: right;
    margin: -8px 0;
    position: relative;

    input{
        margin: 0;
        padding: 7px 25px;
        border-radius: 4px;
        border: 1px solid #bebebd;
        font-size: 13px;
    }

    button{
        background: white;
        border: none;
        position: relative;
        right: 0;
        top: 4px;
        cursor: pointer;
    }

    ::-webkit-input-placeholder {
        color: black;
        font-style: italic;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: black;
        font-style: italic;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: black;
        font-style: italic;
    }

    :-ms-input-placeholder {
        color: black;
        font-style: italic;
    }
}
