html,
body{
    height: 100%;
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid $brand-color-cyan;
}

#main{ margin-top: 104px; }

h1{
    font-weight: lighter;
    color: $brand-color-blue;
    font-size: 40px;
}

.text-center{
    text-align: center;
}