.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;

    &-banner-info-arrow-right {
        width: 11px;
        height: 22px;
        background-position: -5px -5px;
    }

    &-circle-icon {
        width: 32px;
        height: 32px;
        background-position: -26px -5px;
    }

    &-detail-addtowishlist {
        width: 11px;
        height: 10px;
        background-position: -68px -5px;
    }

    &-detail-bid-arrow-right {
        width: 10px;
        height: 19px;
        background-position: -89px -5px;
    }

    &-detail-bids {
        width: 11px;
        height: 10px;
        background-position: -109px -5px;
    }

    &-detail-related-hover {
        width: 71px;
        height: 70px;
        background-position: -130px -5px;
    }

    &-detail-visitauction-arrow {
        width: 6px;
        height: 13px;
        background-position: -211px -5px;
    }

    &-faq-isearch {
        width: 6px;
        height: 13px;
        background-position: -227px -5px;
    }

    &-filter-advanced-options-arrow {
        width: 26px;
        height: 26px;
        background-position: -243px -5px;
    }

    &-footer-email {
        width: 13px;
        height: 9px;
        background-position: -279px -5px;
    }

    &-footer-phone {
        width: 9px;
        height: 12px;
        background-position: -302px -5px;
    }

    &-footer-search {
        width: 18px;
        height: 18px;
        background-position: -279px -27px;
    }

    &-footer-social {
        width: 154px;
        height: 31px;
        background-position: -5px -85px;
    }

    &-home-arrow-down-popular {
        width: 28px;
        height: 28px;
        background-position: -211px -55px;
    }

    &-home-carousel-bullet-empty {
        width: 14px;
        height: 13px;
        background-position: -307px -27px;
    }

    &-home-carousel-bullet-full {
        width: 16px;
        height: 15px;
        background-position: -5px -50px;
    }

    &-home-carousel-next {
        width: 40px;
        height: 70px;
        background-position: -249px -55px;
    }

    &-home-carousel-previous {
        width: 40px;
        height: 70px;
        background-position: -5px -135px;
    }

    &-home-everyonehappy {
        width: 117px;
        height: 117px;
        background-position: -55px -135px;
    }

    &-home-hover-search-icon-big {
        width: 115px;
        height: 113px;
        background-position: -182px -135px;
    }

    &-home-makedeals {
        width: 117px;
        height: 117px;
        background-position: -331px -5px;
    }

    &-home-signup {
        width: 117px;
        height: 117px;
        background-position: -307px -132px;
    }

    &-nav-logo {
        width: 103px;
        height: 140px;
        background-position: -182px -259px;
    }

    &-nav-menu {
        width: 11px;
        height: 10px;
        background-position: -434px -132px;
    }

    &-nav-search {
        width: 18px;
        height: 18px;
        background-position: -434px -152px;
    }

    &-nav-user {
        width: 13px;
        height: 14px;
        background-position: -434px -180px;
    }
}