/*
 * FONT
 */
/*$font-family-base: helvetica;*/
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1em;
$font-size-large: 1.5em;
$font-size-title: 3em;


/*
 * COLORS
 *
 * main
 */
$brand-color-blue: #0a1e75;
$brand-color-blue-transparant: rgba(#0120a6, 0.65);
$brand-color-cyan: #01a6a0;

/*
 * grey
 */
$brand-color-black: #000000;
$brand-color-grey-dark: #4e4e4e;
$brand-color-grey-mid: #545353;
$brand-color-grey-light: #757575;
$brand-color-grey-silver: #eaeaea;
$brand-color-grey-lighter: #f4f4f4;

$logo-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.19);